.cadastro {
	text-align: center;
	/*border: solid 1px black;*/
	margin-top: 10px;
}

.cadastro-aluno {
	/*border: solid 1px black;*/
	font-size: 20px;
	text-align: center;
}

.panel-cad-aluno {
	/*border: solid 1px black;*/
	text-align: left;
	/*margin-top: 5px;*/
}

/*.ui-widget {
	font-size: 11px !important;
}*/