body {
	background-color: #eeeeee;
	font-size: 12px;			
	/*border: solid 2px black;*/				
}

.titulo-cabecalho{
	font-size: 20px;	
	text-align: center;
}

.msg-bem-vindo {
	text-align: center;
}

/*.div-layout-geral{
	border: solid 2px blue; 
	margin: 0 0 0 0;		
}*/

.layoutUnitCentro {
	/*border: solid 2px yellow !important;*/	
}

/*.ui-layout-center .ui-layout-unit-content {  
    overflow: visible !important;  
}*/  

.layout-geral{
	min-width:1200px; 
	max-width:1200px; 
	min-height:100%; /* barra de rolagem */	
	margin: 0 auto; /* layout no centro da tela */
  	width: 50%; /* layout no centro da tela */  	
}

.menu-bar{
	/*margin-top: 18px;*/
}

/* Menu fica por cima dos componentes da página */
.ui-widget {
	font-size: 11px !important;
}

.ui-layout-north {  
    z-index:20 !important;  
    overflow:visible !important;
}  
.ui-layout-north .ui-layout-unit-content {  
    overflow:visible !important;  
} 
/* Menu fica por cima dos componentes da página */
