body {
	background-color: #eeeeee;
	font-size: 12px;
	/*border: solid 1px black;*/		
}

.titulo-cabecalho{
	font-size: 20px;	
}

.div-layout-geral{
	/*border: solid 2px yellow;*/ 
	/*height: 1700px;*/
	height: 700px;	
}

.layout-geral{
	min-width:1100px; 
	max-width:1100px; 
	min-height:650px;*
}

.menu-bar{
	/*margin-top: 18px;*/
}

/* Menu fica por cima dos componentes da página */
.ui-widget {
	font-size: 11px !important;
}

.ui-layout-north {  
    z-index:20 !important;  
    overflow:visible !important;
}  
.ui-layout-north .ui-layout-unit-content {  
    overflow:visible !important;  
} 
/* Menu fica por cima dos componentes da página */
